[submodule "defutures-contract"]
	path = defutures-contract
	url = https://github.com/ETHGlobal-Tokyo-ValleyDance/defutures-contract
[submodule "defutures-frontend"]
	path = defutures-frontend
	url = https://github.com/ETHGlobal-Tokyo-ValleyDance/defutures-frontend
[submodule "defutures-backend"]
	path = defutures-backend
	url = https://github.com/ETHGlobal-Tokyo-ValleyDance/defutures-backend
